services:
  - type: web
    name: r-tam
    runtime: node
    buildCommand: npm install
    startCommand: node backend/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        value: postgresql://r_tamdb_user:mi1xfqj3jD4bUdPFeol53NTuvbayFbio@dpg-d006r51r0fns73dvdlh0-a.virginia-postgres.render.com:5432/r_tamdb
