
.btn-volver {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-volver:hover {
    background-color: #000000;
}
/* Estilos generales para la sección de accesos */
#accesos {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


/* Estilos para los filtros */
.filtros {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 20px;
}

.filtro label {
    margin-right: 10px;
    font-weight: bold;
}

.filtro input, .filtro select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#btn_filtrar {
    padding: 8px 16px;
    background-color: #4c6baf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn_filtrar:hover {
    background-color: #000000;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #0c3769;
    color: white;
}

table tr:hover {
    background-color: #f5f5f5;
}

/* Estilos para los estados */
.estado {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
}

.estado-activo {
    background-color: #136fac;
}

.estado-inactivo {
    background-color: #dc3545;
}

/* Estilos para la paginación */
.pagination {
    text-align: center;
    padding: 20px;
}

.pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #4CAF50;
    color: white;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}